<!DOCTYPE html>

<html lang="en">
<!-- Required meta tags -->

<head th:replace="snippets.html :: name_head"></head>

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container pt-3">
    <!-- Top row with form-->
    <div class="row align-content-between">
        <div class="col-8">
            <h3>Orders</h3>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="create-order">Create Order</button>
        </div>
    </div>

    <!-- Blank Row -->
    <div class="row">&nbsp;</div>
    <div class="row">
        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col-2">ID</th>
                    <th scope="col-5">Time</th>
                    <th scope="col-5">Action</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!--Order Details Modal-->
    <div class="modal" tabindex="-1" role="dialog" id="order-details-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row align-content-between">
                        <div class="col-6" id="order-id"></div>
                        <div class="col-6" id="date-time"></div>
                        <div>&nbsp;</div>
                    </div>
                    <div class="row">
                        <!-- Table -->
                        <div class="col-12 table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-striped table-scrollable" id="order-details-table">
                                <thead>
                                <tr>
                                    <th scope="col-2">Barcode</th>
                                    <th scope="col-2">Name</th>
                                    <th scope="col-2">Price</th>
                                    <th class="col-2">Quantity</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Order Creation Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="create-order-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Items</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Add Item From -->
                    <form class="form-inline justify-content-between" id="add-item-form">
                        <div class="form-group p-1">
                            <label for="inputAddModalBarcode" class="col-sm-2 col-form-label">Barcode</label>
                            <div class="col-sm-1">
                                <input
                                        type="text"
                                        class="form-control"
                                        id="inputAddModalBarcode"
                                        onchange="console.log('changed')"
                                        name="barcode"
                                        placeholder="Enter Barcode"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddModalQuantity" class="col-sm-2 col-form-label">Quantity</label>
                            <div class="col-sm-1">
                                <input
                                        type="number"
                                        class="form-control"
                                        name="quantity"
                                        id="inputAddModalQuantity"
                                        min="1"
                                        placeholder="Enter Quantity"
                                />
                            </div>
                        </div>

                        <button class="btn btn-outline-primary px-4" type="button" onclick="addOrderItem('add')">Add</button>
                    </form>

                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <!-- Table -->
                        <div class="col-12 table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-striped table-scrollable" id="create-order-table">
                                <thead>
                                <tr>
                                    <th scope="col-2">Barcode</th>
                                    <th scope="col-2">Name</th>
                                    <th scope="col-2">Price</th>
                                    <th class="col-2">Quantity</th>
                                    <th class="col-2">Action</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="place-order-btn">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Order editing modal-->
<div class="modal" tabindex="-1" role="dialog" id="edit-order-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- Add Item From -->
                <form class="form-inline justify-content-between" id="edit-item-form">
                    <div class="form-group p-1">
                        <label for="inputEditModalBarcode" class="col-sm-2 col-form-label">Barcode</label>
                        <div class="col-sm-1">
                            <input
                                    type="text"
                                    class="form-control"
                                    onchange="console.log('changed')"
                                    name="barcode"
                                    id="inputEditModalBarcode"
                                    placeholder="Enter Barcode"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEditModalQuantity" class="col-sm-2 col-form-label">Quantity</label>
                        <div class="col-sm-1">
                            <input
                                    type="number"
                                    class="form-control"
                                    name="quantity"
                                    id="inputEditModalQuantity"
                                    min="1"
                                    placeholder="Enter Quantity"
                            />
                        </div>
                    </div>

                    <button class="btn btn-outline-primary px-4" type="button" onclick="addOrderItem('edit')">Add</button>
                </form>

                <div class="row">&nbsp;</div>
                <div class="row">
                    <!-- Table -->
                    <div class="col-12 table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-striped table-scrollable" id="edit-order-table">
                            <thead>
                            <tr>
                                <th scope="col-2">Barcode</th>
                                <th scope="col-2">Name</th>
                                <th scope="col-2">Price</th>
                                <th class="col-2">Quantity</th>
                                <th class="col-2">Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="update-order-btn">Update Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"></script>
</body>
</html>
